<div class="header center">Post a new food iteam</div>

<form [formGroup]="foodForm" (ngSubmit)="post()">

  <mat-form-field>
    <input matInput type="text" id="name" placeholder="name of item" autocomplete="off" formControlName="name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="location" id="location" placeholder="location/address" formControlName="location" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="zipcode" id="zipcode" placeholder="zipcode" formControlName="zipcode" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!foodForm.valid">LOG IN</button>
  </div>

</form>

<a routerLink='/search' >Cancel</a>
