<div class="container">
    <h5>Enter zipcode to search near by food</h5>
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <input class="form-control border-secondary py-2" [(ngModel)]="searchString" type="search" placeholder="zipcode">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="search()" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="searchResult.length > 0" class="container">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of searchResult">
        <td>{{ character.name }}</td>
        <td>{{ character.location }}</td>
        <td>{{ character.zipcode }}</td>
      </tr>
    </tbody>
  </table>
</div>
