<div class="header center">Register as a new user</div>

<form [formGroup]="registerForm" (ngSubmit)="register()">

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
  </div>

</form>

<a routerLink='/login' >Cancel</a>
